<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change User</title>
</head>
<body>
<table class="table table-red">
    <thead>
    <tr>
        <h2>Change User :</h2>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${user.age}"/>
        <td style="white-space: nowrap;">
        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/change}" th:object="${user}" method="post">
    <input type="hidden" th:name="id" th:value="${param.id}" />


    <input type="text" th:field="*{name}" id="namedelete" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="text" th:field="*{lastName}" id="lnchange" placeholder="Last Name">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: crimson"></span>

    <br>
    <div style="margin-bottom: 20px;"></div>
    <input type="submit" value="Change">
</form>

</body>
</html>